.slide-in {
  opacity: 0;
  transform: translateY(50%);
  animation: slideIn 3s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
