@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: rgb(15 23 42);
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animation-slide {
  animation: slide 10s infinite linear;
  white-space: nowrap;
}
